@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&family=Poppins:wght@400;500&display=swap');

:root{
    --mint-green: #8dd3bb;
    --black: black;
    --grey: #FAFBFC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body{
    width: 100%;
    background: #FAFBFC;
    overflow-x: hidden;
}